<md-toolbar class="fixed-toolbar
            md-whitefame-z1"
            md-peakaboo [break]="190"
            breakAction="show">
    <div class="md-toolbar-tools">
        <span>FoodButton</span>
    </div>
</md-toolbar>
<md-content>
    <button *ngIf="!loggedIn()"
            (click)="login()"
            md-button
            class="md-primary">
        Login w/ Facebook
    </button>

    <button *ngIf="loggedIn()"
            (click)="setupCredit()"
            md-button
            class="md-primary">
        Get Food Now
    </button>
    <router-outlet></router-outlet>
</md-content>



