<md-content class="md-padding">
    <h3>Enter Your Delivery Address</h3>
    <div layout="row">
        <md-input-container class="md-block" flex>
            <label>Name</label>
            <input name="name" [(ngModel)]="model.fullName" type="text" />
        </md-input-container>
    </div>
    <div layout="row">
        <md-input-container class="md-block" flex>
            <label>Address 1</label>
            <input name="address1" [(ngModel)]="model.address1" type="text" />
        </md-input-container>
    </div>
    <div layout="row">
        <md-input-container class="md-block" flex>
            <label>Address 2</label>
            <input name="address2" [(ngModel)]="model.address2" type="text" />
        </md-input-container>
    </div>
    <div layout="row">
        <md-input-container class="md-block" flex>
            <label>City</label>
            <input name="city" [(ngModel)]="model.city" type="text" />
        </md-input-container>
        <md-input-container class="md-block" flex>
            <label>State</label>
            <input name="state" [(ngModel)]="model.state" type="text" />
        </md-input-container>
        <md-input-container class="md-block" flex>
            <label>Zip</label>
            <input name="zip" [(ngModel)]="model.zip" type="text" />
        </md-input-container>
    </div>
</md-content>