<md-content class="md-padding">
    <h3>Enter Your Payment Details</h3>
    <div layout="row">
        <md-input-container class="md-block" flex>
            <label>Number</label>
            <input name="number" [(ngModel)]="model.cardNumber" type="text" required />
        </md-input-container>
    </div>
    <div layout="row">
        <md-input-container class="md-block" flex-gt-sm>
            <label>Expiration Month</label>
            <input name="month" [(ngModel)]="model.cardExpMonth" type="text" required />
        </md-input-container>
        <md-input-container class="md-block " flex-gt-sm>
            <label>Expiration Year</label>
            <input name="year" [(ngModel)]="model.cardExpYear" type="text" required />
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
            <label>CVC</label>
            <input name="cvc" [(ngModel)]="model.cardCVC" type="text" required />
        </md-input-container>
    </div>
</md-content>